.mod
.ko
.o
projects/syscalls/example/Module.symvers
projects/syscalls/example/modules.order
projects/syscalls/example/reboot_auth
projects/syscalls/example/*.ko.cmd
projects/syscalls/example/..module-common.o.cmd
projects/syscalls/example/.Module.symvers.cmd
projects/syscalls/example/.module-common.o
projects/syscalls/example/.modules.order.cmd
projects/syscalls/example/.reboot_guard.mod.cmd
projects/syscalls/example/.reboot_guard.mod.o.cmd
projects/syscalls/example/.reboot_guard.o.cmd
projects/syscalls/example/.reboot_monitor.mod.cmd
projects/syscalls/example/.reboot_monitor.mod.o.cmd
projects/syscalls/example/.reboot_monitor.o.cmd
projects/syscalls/example/reboot_guard.ko
projects/syscalls/example/reboot_guard.mod
projects/syscalls/example/reboot_guard.mod.c
projects/syscalls/example/reboot_guard.mod.o
projects/syscalls/example/reboot_guard.o
projects/syscalls/example/reboot_test
